<router-outlet />

<form #myForm="ngForm">
  <label>Edad 1: </label>
  <input [(ngModel)]="edadUno" name="edadUno" type="number">
  <br><br>

  <label>Edad 2: </label>
  <input [(ngModel)]="edadDos" name="edadDos" type="number">
  <br><br>

  <label>Promedio: </label>
  <input [(ngModel)]="promedio" name="promedio" type="number" readonly>
  <br><br>

  <label>Suma: </label>
  <input [(ngModel)]="suma" name="suma" type="number" readonly>
  <br><br>

  <button type="button" (click)="calcular()">Calcular</button>
  <br><br>

  <button type="button" (click)="limpiarInputs(myForm)">Limpiar cuadros de texto</button>
</form>